<aside class="side-box hidden-sm"> <span class="close-side-box"><i class="ion-close"></i></span>
    <div class="side-about">
      <h5>SHIPPER LOGISTIC</h5>
      <figure><img src="{{ site.baseurl }}/images/image1.jpg" alt="Image"></figure>
      <p>You can use the icons above to access more information about our credentials, providing solutions in a host of specific industries.</p>
      <a href="#">READ MORE</a> </div>
    <!-- end quick-services -->
    <div class="pdf-catalog">
      <h5>DOWNLOAD CATALOGUE</h5>
      <p>App is designed to provide the most reliable information and make the most of your travel experience.</p>
      <i class="ion-document-text"></i> <a href="#">DOWNLOAD</a> </div>
    <!-- end pdf-catalog --> 
  </aside>