<footer class="dark-footer">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h4 class="title"><span>01</span>ABOUT US</h4>
            <p>Your First Step to Worry-Free Trading! Leave your international trading worries to us. With ERC Abay-abay Customs Brokerage, you can focus on more important business needs. Let us do the work and make things simple for you.</p>
            <ul class="social-media">
              <li><a href="#"><i class="ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
              <li><a href="#"><i class="ion-social-youtube"></i></a></li>
              <li><a href="#"><i class="ion-social-vimeo"></i></a></li>
            </ul>
          </div>
          <!-- end col-5 -->
          <div class="col-md-2 col-sm-3 col-xs-6">
            <h4 class="title"><span>02</span>SERVICES</h4>
            <ul class="footer-menu">
              <li><a href="#">Tariff Consultation</a></li>
              <li><a href="#">Custom Clearance</a></li>
              <li><a href="#">Prep of ImpEx Docs</a></li>
              <li><a href="#">Domestic & Int Shipping</a></li>
              <li><a href="#">Customs Duties Comp</a></li>
              <li><a href="#">Trans Regulations</a></li>
              <li><a href="#">Store & Distribute</a></li>
              <li><a href="#">Warehousing</a></li>
            </ul>
          </div>
          <!-- end col-2 -->
          <div class="col-md-2 col-sm-3 col-xs-6">
            <h4 class="title"><span>03</span>SITE MAP</h4>
            <ul class="footer-menu">
              <li><a href="{{ site.baseurl }}/">Home</a></li>
              <li><a href="{{ site.baseurl }}/aboutus/">About Us</a></li>
              <li><a href="{{ site.baseurl }}/services/">Services</a></li>
              <li><a href="{{ site.baseurl }}/news/">News</a></li>
              <li><a href="{{ site.baseurl }}/contact/">Contact Us</a></li>
            </ul>
          </div>
          <!-- end col-2 -->
          <div class="col-md-4">
            <div class="newsletter">
              <h4 class="title"><span>04</span>NEWSLETTER</h4>
              <p>If you would like more information about our services we are eager to help.</p>
              <form>
                <input type="text" placeholder="Type your e-mail">
                <button type="submit">JOIN</button>
              </form>
              <small>I promise, we won’t spam you!</small> </div>
            <!-- end newsletter --> 
          </div>
          <!-- end col-2 --> 
        </div>
        
      </div>
      <!-- end container --> 
    </div>
    <!-- end footer-content -->
    <div class="sub-footer">
      <div class="container"> <span class="copyright">Copyright © 2016 , ERC Abay-abay Customs Brokerage | @ninjapawikan </span></div>
      <!-- end container --> 
    </div>
    <!-- end sub-footer --> 
  </footer>