<footer class="dark-footer">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h4 class="title"><span>01</span>ABOUT US</h4>
            <p>Your First Step to Worry-Free Trading! Leave your international trading worries to us. With ERC Abay-abay Customs Brokerage, you can focus on more important business needs. Let us do the work and make things simple for you.</p>
            <ul class="social-media">
              <li><a href="#"><i class="ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
              <li><a href="#"><i class="ion-social-youtube"></i></a></li>
              <li><a href="#"><i class="ion-social-vimeo"></i></a></li>
            </ul>
          </div>
          <!-- end col-5 -->
          <div class="col-md-2 col-sm-3 col-xs-6">
            <h4 class="title"><span>02</span>SERVICES</h4>
            <ul class="footer-menu">
              <li><a href="#">Aceon Freight</a></li>
              <li><a href="#">Storeage</a></li>
              <li><a href="#">Package Security</a></li>
              <li><a href="#">Air Freight</a></li>
              <li><a href="#">Warehousing</a></li>
            </ul>
          </div>
          <!-- end col-2 -->
          <div class="col-md-2 col-sm-3 col-xs-6">
            <h4 class="title"><span>03</span>SHIPPER</h4>
            <ul class="footer-menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Location</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Site Maps</a></li>
              <li><a href="#">Get a Quote</a></li>
            </ul>
          </div>
          <!-- end col-2 -->
          <div class="col-md-4">
            <div class="newsletter">
              <h4 class="title"><span>04</span>NEWSLETTER</h4>
              <p>If you would like more information about our services we are eager to help.</p>
              <form>
                <input type="text" placeholder="Type your e-mail">
                <button type="submit">JOIN</button>
              </form>
              <small>I promise, we won’t spam you!</small> </div>
            <!-- end newsletter --> 
          </div>
          <!-- end col-2 --> 
        </div>
        <!-- end row -->
        <div class="row middle-bar">
          <div class="col-lg-4 col-md-3 hidden-sm hidden-xs"> <img src="images/logo-light.png" alt="Image" class="logo">
            <h4>INTERNATIONAL LOGISTIC</h4>
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <h3>MOBILE APP</h3>
            <p>Download our mobile applications from Google Play and Apple Store or decode QR Code just below and start using.</p>
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4 col-sm-6 col-md-5 col-xs-12">
            <ul>
              <li><img src="images/icon-appstore.png" alt="Image"></li>
              <li><img src="images/icon-googleplay.png" alt="Image"></li>
            </ul>
            <i class="icon-mobile responsive-icon"></i> <a rel='nofollow' href='http://www.themezinho.net' ><img src='https://chart.googleapis.com/chart&#63;cht=qr&amp;chl=www.themezinho.net&amp;chs=90x90' alt=''></a> </div>
          <!-- end col-4 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end footer-content -->
    <div class="sub-footer">
      <div class="container"> <span class="copyright">Copyright © 2015 , Shipper Logistic | Transportation Template </span></div>
      <!-- end container --> 
    </div>
    <!-- end sub-footer --> 
  </footer>