<header class="full-header">
    <nav class="navbar navbar-default">
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6 hidden-xs"> Now helping <span class="numbers">20</span> clients all over the world </div>
            <!-- end col-6 -->
            <div class="col-md-3 col-sm-2 col-xs-4">
              <div class="language dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="{{ site.baseurl }}/images/flag-en.jpg" alt="Image">Language</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">ENGLISH</a></li>
                  <li><a href="#">PORTUGUES</a></li>
                  <li><a href="#">SPANISH</a></li>
                </ul>
              </div>
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 col-sm-4 col-xs-8"> <span class="date">12 Mar </span> <span class="weather"><i class="ion-ios-partlysunny"></i> 15°</span> <span class="phone"><i class="ion-ios-telephone"></i> +1 8734 7346 4 </span> </div>
            <!-- end col-3 --> 
          </div>
          <!-- end row --> 
        </div>
        <!-- end container --> 
      </div>
      <!-- end top-bar -->
      <div class="container">
        <div class="navbar-header">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <a class="navbar-brand" href="index.html"><img src="{{ site.baseurl }}/images/logo.png" alt="Image"></a> </div>
            <!-- end col-5 -->
            <div class="col-md-3 col-sm-4 hidden-xs"> <i class="icon-global"></i>
              <h6>OPENING HOURS<br>
                <span>MON-FRI 07:00 - 18:00 </span></h6>
            </div>
            <!-- end col-2 -->
            <div class="col-md-3 col-sm-4 hidden-xs"> <i class="icon-map-pin"></i>
              <h6>OUR LOCATION<br>
                <span>LOS ANGELAS - CALIFORNIA</span></h6>
            </div>
            <!-- end col-2 -->
            <div class="col-md-3 hidden-sm hidden-xs"> <i class="icon-chat"></i>
              <h6>QUICK SUPPORT<br>
                <span>SUPPORT@SHIPPER.COM</span></h6>
            </div>
            <!-- end col-2 --> 
          </div>
          <!-- end row --> 
        </div>
        <!-- end navbar-header -->
        <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav main-menu">
            <li><a href="index.html" class="transition">HOME</a></li>
            <li><a href="about-us.html" class="transition">ABOUT US</a></li>
            <li><a href="dealers.html" class="transition">DEALERS</a></li>
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="services1.html" class="transition">Trade Services</a></li>
                <li><a href="services2.html" class="transition">Dry Cargo</a></li>
                <li><a href="services3.html" class="transition">Reefer Cargo</a></li>
                <li><a href="services4.html" class="transition">Oversized & Breakbulk Cargo</a></li>
                <li><a href="services5.html" class="transition">Intermodal</a></li>
                <li><a href="services6.html" class="transition">Warehousing & Storage </a></li>
                <li><a href="services7.html" class="transition">Cross Trading</a></li>
                <li><a href="services8.html" class="transition">Cargo Trailers</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">PAGES</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="vehicles.html" class="transition">VEHICLES</a></li>                <li><a href="gallery.html" class="transition">GALLERY</a></li>
<li><a href="career.html" class="transition">CAREER</a></li>
<li><a href="masonry.html" class="transition">MASONRY</a></li>
<li><a href="video.html" class="transition">VIDEO</a></li>
<li><a href="elements.html" class="transition">ELEMENTS</a></li>
              </ul>
            </li>
            <li><a href="news.html" class="transition">NEWS</a></li>
            <li><a href="contact.html" class="transition">CONTACT</a></li>
          </ul>
          <ul class="nav navbar-nav social-nav visible-lg visible-xs">
            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Google+"><i class="ion-social-googleplus"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="ion-social-youtube"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Vimeo"><i class="ion-social-vimeo"></i></a></li>
          </ul>
          <ul class="nav navbar-nav icon-nav hidden-sm">
            <li><a href="javascript:void(0)" class="hamburger-menu"><i class="ion-navicon"></i></a></li>
            <li><a href="javascript:void(0)" class="search-btn"><i class="ion-search"></i></a></li>
            <li><a href="javascript:void(0)"><i class="ion-android-cart"></i></a></li>
            <li class="search-box">
              <form>
                <input type="text" placeholder="Type here">
                <button type="submit"><i class="ion-chevron-right"></i></button>
              </form>
            </li>
          </ul>
        </div>
        <!-- end navbar-collapse --> 
      </div>
      <!-- end container --> 
    </nav>
  </header>